/.DS_Store
/TrainAndTouch.xcodeproj/project.xcworkspace/xcuserdata/erichflock.xcuserdatad/UserInterfaceState.xcuserstate
/TrainAndTouch.xcodeproj/xcuserdata/erichflock.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
